{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola Beto</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi, id dicta aut, aliquam sint perspiciatis at dolorum sapiente dignissimos deleniti, molestiae non quis obcaecati alias quo! At, corrupti magni?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/foto-beto.jpeg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}